<script src="/js/ace.js"></script>
<script>
    $(function(){
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
    })
</script>
<code>
  curl -X POST -H 'Content-Type: application/json' -d '{"message":"Hello World"}' <%= "#{request.scheme}://#{request.host}:#{request.port}/#{puts_req.id}" %>
</code>
<hr/>
<form action="/<%= puts_req.id %>/response_builder" method="post">
  <div id="editor" name="editor" style="width: 100%; height: 250px"><%= puts_req.response_builder %></div>
  <p><button class="btn btn-primary">Update</button></p>
</form>
<hr/>
<% puts_req.requests.to_a.each do |req| %>
  <table>
    <thead>
      <tr>
        <!--
        TODO: Show fields below:
        field :content_length
        field :request_method
        field :ip
        field :url
        field :params
        Check: http://requestb.in/t3ivtbt3?inspect
        -->
        <th>Header</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% req.headers.to_h.each do |header_key, header_value| %>
      <tr>
        <td><%= header_key %></td>
        <td><%= header_value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <hr/>
  <table>
    <thead>
      <tr>
        <th>Request Body</th>
        <th>Response Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code><%= req.body %></code></td>
        <!-- TODO show response code and header -->
        <td><code><%= req.response.to_h['body'].is_a?(Hash) ? req.response.to_h['body'].to_json : req.response.to_h['body'] %></code></td>
      </tr>
    </tbody>
  </table>
  <hr/>
<% end %>
