<table class="requests-header">
  <thead>
    <tr>
      <th>Request Headers</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% recorded_request.headers.to_h.each do |header_key, header_value| %>
    <tr>
      <td class="key"><%= header_key %></td>
      <td class="value" title="<%= header_value %>"><%= header_value %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">

        <div class="request-footer-info">
          <small>When</small>
          <span title="<%= recorded_request.created_at.utc %>"><%= time_ago_in_words recorded_request.created_at %> ago</span>
        </div>

        <div class="request-footer-info">
          <small>Request Body</small>
          <span><code><%= recorded_request.body %></code></span>
        </div>

        <div class="request-footer-info">
          <small>Response Body</small>
          <span><code><%= recorded_request.response.body_as_string %></code></span>
        </div>
      </td>
    </tr>
  </tfoot>
</table>