<ul class="nav">
  <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
  <li><a href="<%= "/#{@bucket.token}/inspect" %>">Inspect</a></li>
  <li><a href="<%= "/#{@bucket.token}/last" %>">Last Request</a></li>
  <li><a href="<%= "/#{@bucket.token}/last_response" %>">Last Response</a></li>
</ul>

<section class="putsreq-url-box">
  <h3>Your PutsReq URL</h3>
  <div class="input-group putsreq-url">
    <input id="putsreq-url-input" type="text" value="<%= "#{request.url.gsub(request.path, '')}/#{@bucket.token}" %>" readonly="readonly"></input>
    <span id="copy-button" data-clipboard-text="<%= "#{request.url.gsub(request.path, '')}/#{@bucket.token}" %> " class="input-group-addon hastip">
      <span class="glyphicon glyphicon-link hastip"></span>
    </span>
  </div>
</section>

<br/><br/>

<section>
  <h4>Sample Request using cURL</h4>
  <code>curl -i -X POST -H 'Content-Type: application/json' -d '{"message":"Hello World"}' <%= "#{request.url.gsub(request.path, '')}/#{@bucket.token}" %></code>
</section>

<hr/>

<h4>Response Builder</h4>
  <%= form_for @bucket, url: bucket_response_builder_path(@bucket.token), method: :patch do %>
    <script id="response-builder-container"  type='application/vns.putsreq-response_builder'><%== @bucket.response_builder %></script>
    <div id="editor" name="editor" style="width: 100%; height: 250px"></div>
    <textarea id="response_builder" name="response_builder" style="display:none;"></textarea>
    <p><button class="btn btn-primary tm10">Update</button></p>
  <% end %>
<hr/>
<p>
  <%= page_entries_info @requests %>
</p>
<p>
  <%= paginate @requests %>
</p>
<hr/>
<% @requests.to_a.each do |recorded_request| %>
  <table class="requests-header">
    <thead>
      <tr>
        <th>Request Headers</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% recorded_request.headers.to_h.each do |header_key, header_value| %>
      <tr>
        <td class="key"><%= header_key %></td>
        <td class="value" title="<%= header_value %>"><%= header_value %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">

          <div class="request-footer-info">
            <small>When</small>
            <span><%= time_ago_in_words recorded_request.created_at %> ago</span>
          </div>

          <div class="request-footer-info">
            <small>Request Body</small>
            <span><code><%= recorded_request.body %></code></span>
          </div>

          <div class="request-footer-info">
            <small>Response Body</small>
            <span><code><%= recorded_request.response.body_to_s %></code></span>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  <hr/>
<% end %>
<p>
  <%= page_entries_info @requests %>
</p>
<p>
  <%= paginate @requests %>
</p>
