<% content_for :title, @bucket.name %>

<ul class="nav">
  <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
  <li><a href="<%= "/#{@bucket.token}/inspect" %>">Inspect</a></li>
  <li><a href="<%= "/#{@bucket.token}/last" %>" title="JSON-formatted">Last Request</a></li>
  <li><a href="<%= "/#{@bucket.token}/last_response" %>" title="JSON-formatted">Last Response</a></li>
  <% if user_signed_in? %>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_user_session_path  %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
</ul>

<section class="putsreq-url-box">
  <h3>Your PutsReq URL</h3>
  <div class="input-group putsreq-url">
    <input id="putsreq-url-input" data-bucket-token="<%= @bucket.token %>" type="text" value="<%= token_url(@bucket.token) %>" readonly="readonly"></input>
    <span id="copy-button" class="input-group-addon hastip clipboard" data-clipboard-target="#putsreq-url-input">
      <span class="glyphicon glyphicon-link hastip"></span>
    </span>
  </div>
</section>

<br/><br/>

<section>
  <h4>Sample Request using cURL</h4>
  <code>curl -i -X POST -d 'name=Pablo' <%= token_url(@bucket.token) %></code>
</section>

<hr/>
<%= render 'form' %>
<hr/>

<p id="new-requests-info"><!-- placeholder: New requests found. Load newer requests? --></p>

<div class="row">
  <div class="col-md-6">
    <% if @bucket.first_request_at %>
      <p>
        <em>First request at: <%= @bucket.first_request_at %></br>
        Last request at: <%= @bucket.last_request_at %></br>
        <% if @bucket.last_request_at - @bucket.first_request_at > 0 %>
          From first to last: <%= distance_of_time_in_words @bucket.first_request_at, @bucket.last_request_at, include_seconds: true %></br>
        <% end %>
        <% if @requests.any? %>
          Request ID: <%= link_to @requests.first.id, request_path(id: @requests.first.id, format: :json) %>
        <% end %>
        </em>
      </p>
    <% end %>
  </div>
  <div class="col-md-6"></div>
</div>
<p><%# = paginate @requests %></p>
<%= render(partial: 'requests', collection: @requests, as: :recorded_request) || show_no_requests_found(@bucket) %>
<p><%# = paginate @requests %></p>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
