<ul class="nav">
  <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
  <li><a href="<%= "/#{@bucket.token}/inspect" %>">Inspect</a></li>
  <li><a href="<%= "/#{@bucket.token}/last" %>">Last Request</a></li>
  <li><a href="<%= "/#{@bucket.token}/last_response" %>">Last Response</a></li>
</ul>

<section class="putsreq-url-box">
  <h3>Your PutsReq URL</h3>
  <div class="input-group putsreq-url">
    <input id="putsreq-url-input" type="text" value="<%= bucket_url(@bucket.token) %>" readonly="readonly"></input>
    <span id="copy-button" data-clipboard-text="<%=bucket_url(@bucket.token) %> " class="input-group-addon hastip clipboard">
      <span class="glyphicon glyphicon-link hastip"></span>
    </span>

    <span id="share-button" data-clipboard-text="<%=share_bucket_url(@bucket.read_only_token)%>" class="input-group-addon hastip clipboard">
      <span class="glyphicon glyphicon-share-alt hastip"></span>
    </span>
  </div>
</section>

<br/><br/>

<section>
  <h4>Sample Request using cURL</h4>
  <code>curl -i -X POST -d 'name=Pablo' <%= token_url(request, @bucket.token) %></code>
</section>

<hr/>
<%= render 'form' %>

<hr/>
<%= render 'requests' %>