<%= javascript_pack_tag 'application' %>

<% content_for :title, @bucket.name %>

<ul class="nav">
  <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
  <li><a href="<%= "/#{@bucket.token}/inspect" %>">Inspect</a></li>
  <li><a href="<%= "/#{@bucket.token}/last" %>" title="JSON-formatted">Last Request</a></li>
  <li><a href="<%= "/#{@bucket.token}/last_response" %>" title="JSON-formatted">Last Response</a></li>
  <% if user_signed_in? %>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_user_session_path  %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
</ul>

<section class="putsreq-url-box">
  <h3>Your PutsReq URL</h3>
  <div class="input-group putsreq-url">
    <input id="putsreq-url-input" data-bucket-token="<%= @bucket.token %>" type="text" value="<%= token_url(@bucket.token) %>" readonly="readonly"></input>
    <span id="copy-button" class="input-group-addon hastip clipboard" data-clipboard-target="#putsreq-url-input">
      <span class="glyphicon glyphicon-link hastip"></span>
    </span>
  </div>
</section>

<br/><br/>

<section>
  <h4>Sample Request using cURL</h4>
  <code>curl -i -X POST -d 'name=Pablo' <%= token_url(@bucket.token) %></code>
</section>

<hr/>
<%= render 'form' %>
<hr/>

<p id="new-requests-info"><!-- placeholder: New requests found. Load newer requests? --></p>

<div id="react-root">
</div>

<script type="application/json" id="bucket-json">
  <%== BucketSerializer.new(@bucket).to_json %>
</script>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
