<% content_for :title, @bucket.name %>

<ul class="nav">
  <li class="logo"><a href="/"><%= image_tag 'logo.png' %></a></li>
  <li><a href="<%= "/#{@bucket.token}/inspect" %>">Inspect</a></li>
  <li><a href="<%= "/#{@bucket.token}/last" %>" title="JSON-formatted">Last Request</a></li>
  <li><a href="<%= "/#{@bucket.token}/last_response" %>" title="JSON-formatted">Last Response</a></li>
</ul>

<section class="putsreq-url-box">
  <h3>Your PutsReq URL</h3>
  <div class="input-group putsreq-url">
    <input id="putsreq-url-input" type="text" value="<%= token_url(@bucket.token) %>" readonly="readonly"></input>
    <span id="copy-button" data-clipboard-text="<%= token_url(@bucket.token) %>" class="input-group-addon hastip clipboard">
      <span class="glyphicon glyphicon-link hastip"></span>
    </span>
  </div>
</section>

<br/><br/>

<section>
  <h4>Sample Request using cURL</h4>
  <code>curl -i -X POST -d 'name=Pablo' <%= token_url(@bucket.token) %></code>
</section>

<hr/>
<%= render 'form' %>
<hr/>

<p id="new-requests-info"><!-- placeholder: New requests received. Load newer requests? --></p>

<div class="row">
  <div class="col-md-6">
    <% if @bucket.first_request_at %>
      <p>
        <em>First request at: <%= @bucket.first_request_at %></br>
        Last request at: <%= @bucket.last_request_at %></br>
        <% if @bucket.last_request_at - @bucket.first_request_at > 0 %>
          From first to last: <%= distance_of_time_in_words @bucket.first_request_at, @bucket.last_request_at, include_seconds: true %><em>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="col-md-6"></div>
</div>
<p><%= paginate @requests %></p>

<hr/>
<%= render(partial: 'requests', collection: @requests, as: :recorded_request) || show_no_requests_found(@bucket) %>
<hr/>
<p><%= paginate @requests %></p>